<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="me" href="https://hachyderm.io/@fxnn" />
    <meta name="fediverse:creator" content="@fxnn@hachyderm.io">
  </head>

  <body>
    <header>
        <h1 class="site-title">{{ site.title }}</h1>
        <p class="site-subtitle">{{ site.description }}</p>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 Max Mustermann | Alle Rechte vorbehalten</p>
    </footer>
  </body>
</html>
